<div class="container">
	<div class="row header">
		<div class="col-xs-12 text-center">
			<h1>Fleet Complete App</h1>
		</div>
	</div>

	<search-form (change)="onLastVehiclesDataChange($event)"></search-form>
	<div class="row">
		<div class="col-sm-6 first-column">
			<search-results [vehiclesList]="lastGPSData"></search-results>
			<trip-summary *ngIf="lastGPSData?.response"></trip-summary>
		</div>
		<div class="col-sm-6 second-column">
			<map-view [vehicleMarkers]="lastGPSData"></map-view>
		</div>
	</div>
</div>
